
@media (min-width:992px) {
	*{
		padding: 0;
		margin: 0;
		font-family: "microsoft yahei";
		font-size: 0.03125rem;
	}
	a{
		text-decoration:underline
	}
	/* 导航栏 */
	.nav{
		width: 100%;
		height: 0.16rem;
		background: #0140a9;
		position: fixed;
		z-index: 3;
		opacity: 0.9;
	}
	.nav-1{
		top: 0.033203125rem;
		position: absolute;
		left: 0.712890625rem;
		width: 0.1rem;
		height:0.09423rem;
	}
	.nav-1 img{
		width: 100%;
		height: 100%;
	}
	.nav-2{
		height: 100%;
		position: absolute;
		left:0.884453125rem;
	}
	.nav-2 a{
		text-align: center;
		padding: auto;
		font-weight: 400;
		display: inline-block;
		width: 0.201171875rem;
		font-size: 0.0390625rem;
		color: #ffffff;
		height: 100%;
		text-decoration: none;
		line-height: 0.16rem;
	}
	.nav-2 a:hover{
		text-decoration: none;
		color: #ffffff;
	}
	.nav-2 a:visited{
		text-decoration: none;
		color: #ffffff;
	}
	.nav-2-1{
		display: block;
		width: 0.101171875rem;
		color:#3cc0ff;
		border-bottom: #3CC0FF 1px solid;
	}

	.nav-3{
		top: 0.033203125rem;
		position: absolute;
		right:0.712890625rem;
		line-height: 0.16rem;
	}
	.nav-3 input{
		background: url(../img/image_search.png) no-repeat 0.45484375rem;
		background-size: 10%;
		display: block;
		width: 0.546rem;
		height: 0.087rem;
		color: #cbd3e9;
		text-indent: 1em;
		border: 2px solid #ffffff;
	}
	/* 轮播图 */
	.slideshow{
		width: 100%;
		/* height: 1.548359375rem; */
	}
	.slideshow img{
		display: block;
		height: 100%;
		width: 100%;
		height: 1.568359375rem;
	}
	
.cccc li {
    display: inline-block;
    width: 32px;
    height: 7px;
    margin: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #fff;
	opacity: 0.3
}
	.nav-2 .active{
		border-bottom: 1px  solid #3CC0FF;
	}
	/* 关于我们 */
	.aboutUs{
		position: relative;
		width: 100%;
		height: 1.568359375rem;
		background: white url(../img/alert/jt.png) no-repeat center 0.140859375rem;
		
	}
	/*  */
	.aboutUs-2-1 h2{
		font-family: arial;
		color: #0065E2;
		margin-top: 0.0546875rem;
		font-size: 0.0703125rem;
	}
	.aboutUs-2-1 p{
		font-family: "microsoft yahei";
		color: #929292;
		margin-top: 0.0546875rem;
		font-size: 0.046875rem;
		/* text-indent: 2em; */
	
	}
	.aboutUs-2-1 p small{
		font-family: "microsoft yahei";
		color: #929292;
		margin-top: 0.0546875rem;
		font-size: 0.03125rem;
	
	}
	.aboutUs-1 img{
		display: block;
		width: 0.13671875rem;
		height: 0.05859375rem;
	}
	.aboutUs-2{
		position: absolute;
		top: 0.34765625rem;
		background: #008B8B;
	}
	.aboutUs-2-1{
		left: 0.712890625rem;
		position: absolute;
		width: 0.708984375rem;
		line-height: 0.072rem;
	}
	.aboutUs-2-2{
		left: 1.58984375rem;
		position: absolute;
		width: 0.708984375rem;
	}
	.aboutUs-2-2 p small{
		display: block;
		font-family: "microsoft yahei";
		color: #929292;
		line-height: 0.065rem;
		margin-top: 0.0546875rem;
		font-size: 0.03125rem;
		margin: 0.03617rem 0.02929rem;
		
	
	}
	.aboutUs-2-2-1{
		display: inline-block;
		background: url(../img/image_jt.png)no-repeat 2px;
		text-indent: 15px;
		background-size: 20%;
	}
	.aboutUs-2-2-1 a {
		text-decoration: underline;
	}
	.aboutUs-2-3{
		left: 2.4277rem;
		position: absolute;
		width: 0.708984375rem;
	}
	
	.aboutUs-2-3 img{
		display: block;
		/* padding: 8px; */
		width: 0.68359375rem;
		height: 0.285156rem;
	}
	.aboutUs-2-2 img{
		display: block;
		width: 0.708984375rem;
		height: 0.482421875rem;
	}
	/* 产品介绍 */
	.productCase{
		margin: auto;
		width: 100%;
		text-align: center;
		height: 1.568359375rem;
		background: url(../img/bg_logo.png)no-repeat rgb(236,236,236) center;
		background-size: 70%;
		padding-top: 0.01rem;
	}
	.productCase-1{
		text-align: center;
		width: 100%;
		height: 0.673828125rem;
		color: #a7a7a7;
		line-height: 0.026rem;
	}
	
	.productCase-1 img{
		margin-top: 0.068rem;
	}
	.productCase-1 p{
		font-size: 0.046875rem;
		line-height: 0.1rem;
	}
	
	.productCase-1 h2{
		margin-top: 0.255859375rem;
		font-size: 0.0703125rem;
		color: #0065e2;
		text-align: center;
	}
	.productCase-3{
		position: absolute;
		left: 0.712890625rem;
		width: 2.32421875rem;
		margin: 0 auto;
		/* left: 0.5637rem; */
		top: 3.966rem;
		color: #939393;
	}
	.productCase-3-1{
		position: relative;
		width: 1.1481375rem;
		height: 0.63rem;
		float: left;
		padding: 0.05859rem;
		background: url(../img/bg_cp1.png) no-repeat;
		background-size: 100%;
	}
	.productCase-3-1 img{
		display: block;
		width: 0.45703125rem;
		height:0.45703125rem;
	}
	.productCase-3-1-2-1{
		width: 100%;
		text-align: right;
	}
	.productCase-3-1-2-1 a{
		/* display: inline-block; */
		text-align: right;
		background: url(../img/image_jt.png)no-repeat;
		padding-left: 0.05rem;
		background-size: 30%;
	}
	
	.productCase-3-1-2 img{
		display: block;
		width: 0.03515625rem;
		height: 0.03515625rem;
	}
	.productCase-3-1-1{
		position: relative;
		float: left;
	}
	.productCase-3-1-2{
		font-size: 0.03125rem;
		line-height: 0.06rem;
		top: 0.0566406rem;
		text-align: left;
		padding-left: 0.05078rem;
		
		float: left;
		height: 0.400rem;
		width: 0.56203125rem;
	}
	.productCase-3-2{
		float: right;
	}
	
	.productCase-2{
		display: none;
		width: 2.59375rem;
		height: 1.2402rem;
		background: #FFFFFF;
		border: 1px solid #A9A9A9;
		position: fixed;
		right: 0.578125rem;
		top: 0.1953125rem;
		overflow: hidden;
		z-index: 5;
	}
	.productCase-2-1{
		width: 100%;
		height: 0.1953125rem;
		background: #A9A9A9;
		display: flex;
		border-bottom: 3px solid rgb(3,93,249);
	}
	.productCase-2-1-1{
		text-indent:0.0859375rem;
		line-height: 0.1953125rem;
		float: left;
		font-size:28px ;
		color: #5D5D5D;
	}
	.productCase-2-1-2 {
		position: absolute;
		right: 0;
		width: 0.1953125rem;
		height: 0.1953125rem;
	}
	.productCase-2-1-2 img{
		display: block;
		width: 0.1953125rem;
		height: 0.1953125rem;
	}
	.productCase-2-2-1{
		position: relative;
		float: left;
		width: 0.98828125rem;
		padding: 0.08593rem 0.0859375rem;
	}
	.productCase-2-2-1 img{
		display: block;
		width: 0.81640625rem;
		height: 0.876953125rem;
	}
	.productCase-2-2-2{
		position: absolute;
		/* float: left; */
		width: 1.60156rem;
		height: 100%;
		right: 0.0859375rem;
		padding-top: 0.12109375rem;
	}
	.productCase-2-2-2 p{
		font-size: 0.03125rem;
		padding-left: 0.0859375rem;
		color: #939393;
	}
	/* 合作伙伴 */
	.partner{
		width: 100%;
		height: 1.668359375rem;
		position: relative;
		background: #FFFFFF;
		padding-top: 0.01rem;
		padding-bottom: 0.1rem;
	}
	.partner-2{
		position: absolute;
		left: 0.693359rem;
		width: 2.36328rem;
		height: 0.6875rem;
		top: 0.62rem;
	}
	.partner-2-1{
		position: relative;
		float: left;
		margin: 0 0.00878rem;
		text-align: center;
	}
	.partner-2-1 img{
		padding-top: 0.11rem;
		display: block;
		width: 0.455078rem;
		height: 0.55078125rem;
	}
	.partner-2-1 p{
		position: absolute;
		left: 0.165rem;
		top: 0.58rem;
		color: #a1a1a1;
		font-size: 0.035156rem;
	}
	.partner-3{
		position: absolute;
		width: 100%;
		height: 0.39648375rem;
		bottom: 0;
		text-align: center;
	}
	.partner-3 img{
		width: 0.583984rem;
		height:0.125rem;
		margin-top: 0.15054rem;
		
	}
	/* 脚部区域 */
	.footer{
		width: 100%;
		height: 0.66015625rem;
		position: relative;
		color: #FFFFFF;
	}
	.footer-1{
		position: absolute;
		width: 2.32421875rem;
		height: 0.56054rem;
		left: 0.71289rem;
	}
	.footer-1-1{
		position: relative;
		width: 0.6953125rem;
		height: 0.56054rem;
		float: left;
		font-size: 0.0273rem;
		line-height: 0.0629rem;
	}
	.footer-1-1 h3{
		margin-top: 0.144rem;
		font-size: 0.046875rem;
		margin-bottom: 0.0527rem;
		
	}
	.footer-1-1-5{
		background: url(../img/icon_lx.png)no-repeat;
		padding-left: 0.067rem;
		background-size: 7.1%;
	}
	.footer-1-2{
		margin-left:0.2rem ;
	}
	.footer-1-3{
		width: 0.5273rem;
		margin-left:0.2rem;
	}
	.footer-3{
		position: fixed;
		bottom: 0;
		z-index: -1;
	}
	.footer-1-1 p span{
		font-size: 0.02734rem;
		color: #FFFFFF;
	}
	.footer-1-1 p{
		color: #a6a8ab;
	}
	.foot-1-2-1 p{
		font-size: 0.046875rem;
		line-height:0.0629rem ;
		padding-left: 0.0333rem;
		border-left: 2px solid white;
	}
	.footer-1-3-1{
		height: 0.5rem;
		width: 0.02929rem;
		margin-left: 0.05rem;
		line-height:0.0529rem;
	}
	.footer-1-3-2{
		width: 0.3902rem;
		top: -0.51rem;
		position: relative;
		float: right;
		font-size: 12px;
	}
	.footer-1-3-2-1 img{
		display: block;
		width: 0.345rem;
		height: 0.345rem;
	}
	
	
	.footer-1-3-2-1{
		display: inline
	}
	.footer-1-3-2-3{
		text-indent: 2em;
		background: url(../img/image_logo3.png)no-repeat 1px;
		background-size: 11.3%;
	}
	.footer-2{
		font-size: 12px;
		color: #bbbbbb;
		height: 0.1rem;
		line-height: 0.1rem;
		width: 100%;
		background: #1b1b1b;
		text-align: center;
		position: absolute;
		bottom: 0;
	}
	
}
