*{
	padding: 0;
	margin: 0;
	font-family: "microsoft yahei";
}
h2{
	color: #0065e2;
	font-family:"arial rounded mt bold";
	font-size: 2.2rem;
	font-weight: bold;
}
h3{
	font-size: 24px;
	color: #ffffff;
	font-family: "microsoft yahei";
}
/* 导航栏 */
.logo{
	background: url(../img/image_logo3.png) no-repeat left;
	text-indent: 1.7rem;
	margin-left: 1.7rem;
}
.nav111{
	padding-left: 3.4rem;
}
.navbar-dark .navbar-nav .nav-link {
	color: #FFFFFF;
}
.navbar11{
	background: #0140a9;
	color: #FFFFFF;
	width: 100%;
	padding: 0;
}
.navbar-brand img{
	padding: 0 20px;
}
/* 轮播图 */
.slideshow{
	position: relative;
	top:2.4rem
}
.carousel-inner img {
      width: 100%;
      height: 100%;
  }
  
  /* 关于我们 */
  .about-1{
	  margin: 4.4rem auto;
		margin-bottom: 3rem;
  }

  .about-2 p{
	  font-size: 1.2rem;
	  color: #929292;
/* 		line-height: 2rem; */
  }
  .about-2 img{
  	margin-bottom: 20px;
  }
 .about-2 span{
	 font-size: 16px;
	 
	 display: block;
	 text-indent: 2em;
 }
 .about-2 h2{
 	margin-bottom: 20px;
 }
 .about-3 span{
	 color: #929292;
	 font-size: 16px;
	 padding: 10px 15px;
	 font-family: "microsoft yahei";
 }
 .about-3 a{
 	background: url(../img/image_jt.png)no-repeat 0;
	padding-left: 20px;
 }
  @media (min-width: 540px){
	.col-lg-8-3{
	width: 33.333%;
	position: relative;
	float: left;
	}  
	.col-md-8-5{
		width: 20%;
		float: left;

	}
  }
  @media (max-width: 540px) {
	.col-lg-8-3{
	  width: 100%;
	  } 
	   .col-md-8-5{
		   width: 33.33%;
		   position: relative;
		   float: left;
	   }
	}
	
	
.col-7{
	overflow: hidden;
}
/* 产品案例 */
.Product h2{
	margin: 30px 0;
}
.Product img{
margin: 30px 0 40px 0;	
}
.Product p{
	color: #a7a7a7;
	font-size: 1.4rem;
}
.Product-2{
	color: #939393;
	font-size: 1rem;
	padding: 10px 35px;
}
.Product-2 a{
	background: url(../img/image_jt.png)no-repeat 0;
	padding-left: 1rem;
}
/* 弹窗 */
.Product-33{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgb(0,0,0,0.7);
	z-index: 99;
}
.Product-3{
	/* display: none; */
	left: 0;
	position: fixed;
	z-index: 100;
	top: 15rem;
	left: 10%;
	width: 80%;
/* 	border: 1px solid darkgray; */
}
.Product-3-1{
	position: relative;
	float: left;
	line-height: 2rem;
	height:100% ;
	width: 100%;
}
.Product-3-1-1{
	text-indent: 1rem;
	position: relative;
	float: left;
	height: 2rem;
	width: 88%;
	font-family: "microsoft yahei";
	background: #929292;
	color: #5D5D5D;
	font-weight: bold;
	border-bottom: 1px solid blue;
}
.Product-3-1-2{
	position: relative;
	float: left;
	right: 0;
	height: 2rem;
	width: 12%;
	background: rgb(234,234,234);
	border-bottom: 1px white solid;
}
.Product-3-1-2 img{
	position: absolute;
	right: 0;
	width: 100%;
	height: 2rem;
}
.Product-3-2{
	position: relative;
	float: left;
	height:8rem ;
	width: 100%;
	padding: 1rem;
	background: #FFFFFF;
}
.Product-3-2-1{
	position: relative;
	float: left;
	height: 100%;
	width: 40%;
}
.Product-3-2-1 img{
	height: 100%;
}
.Product-3-2-2{
	height: 100%;
	width: 60%;
	position: relative;
	float: left;
	overflow: hidden;
	font-size: 1rem;
	color: #939393;
}
/* 合作伙伴 */
.partner-1 span{
	position: absolute;
	top: 80%;
	left:20%;
	color: #a1a1a1;
	font-size: 18px;
}
.partner-3{
	margin: 30px 0 40px 0;
}
/* 联系我们 */
 @media (min-width: 540px){
	 .col-lg-8-3-1{
		 width: 35%;
		 position: relative;
		 float: left;
	 }
	 .col--lg-8-3-2{
		 width: 30%;
		 position: relative;
		 float: left;
	 }
 }
 @media (max-width: 540px){
 	.col-lg-8-3-1{
 		width: 50%;
		position: relative;
		float: left;
 	}
 	.col--lg-8-3-2{
 		width: 100%;
 	}
	.partner-2{
		margin-top: 30px;
		left: 16.67%;
	}

 }
 .foot-1{
	 background: url(../img/image_bgdb.jpg)no-repeat;
	 background-size: 200%;
 }
 .foot-1-11{
	 margin: 30px 0 10px 0;
 }
 .foot-1-13{
 	color:#a6a8ab ;
	font-size: 14px;
	line-height: 22px;
 }
 .foot-1-13 span{
 color:#FFFFFF ;
 font-size: 14px;
 line-height: 22px;
 }
 .foot-1-12{
	 background: url(../img/icon_lx.png) no-repeat left;
	 background-size: 13%;
	 text-indent: 25px;
 }
 .foot-3-1{
	 margin-left: 10px;
	 border-left: 2px solid #FFFFFF;
	 padding-left: 17px;
	 font-size: 1.4rem;
	 color: #b9bbbd;
 }
 .foot-3-3-1{
	 color: #FFFFFF;
 }
 .foot-3-4{
	 color: #FFFFFF;
	 font-size: 12px;
	 background: url(../img/image_logo3.png) no-repeat 31% 0.2rem;
	 background-size: 4%;
 }
 .foot-4{
	 background: #1b1b1b;
	 color: #bbbbbb;
	 font-size: 12px;
 }
 @media screen and (min-width: 576px) and (max-width: 768px){
	 .Product-2-1{
		padding: 1rem 0;
		 height: 11rem;
		 overflow: hidden;
		 text-overflow: ellipsis;
	 }
	 .about-2{
		display: -webkit-box;
		line-height: 1.6rem;
		width: 33.33%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
		 height: 20.5rem;
		 overflow: hidden;
		 text-overflow: ellipsis;
	 }
	 .partner-1 span{
	display: block;
	position: relative;
	top: -2rem;
	float: left;
	color: #a1a1a1;
	font-size: 18px;
}
.foot-1-12{
	 background: url(../img/icon_lx.png) no-repeat left;
	 background-size: 10%;
	 text-indent: 25px;
 }
 .foot-3-4{
 	color: #FFFFFF;
 	font-size: 12px;
 	background: url(../img/image_logo3.png) no-repeat 18% 2px;
 	background-size: 7%;
 }
 }
